body {
    background: #40434E
}

.container {
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    width: 600px;
    height: 350px;
    margin: auto;
    padding: 25px;
    text-align: center;
    background-color: #9FA2B2;
    border-radius: 30px;
}

.counter h1 {
    font-size: 2rem;
}

#count {
    font-size: 9rem;
    margin: 0;
}